@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #ffe7e0;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 16px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #ec6e4c;
  position: relative;
  top: 4px;
}

h3 {
  color: #ec6e4c;
  font-size: 20px;
  font-weight: 600;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  color: #ec6e4c;
}

hr {
  margin: 10px 0px 3px 0px;
}

.body-box {
  background-color: white;
  width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px 60px;
}