.body-box {
  border: rgb(213, 213, 213) 1px solid;
  border-radius: 7px;
}

.search-button {
  padding: 6px 12px;
  background-color: white;
  border: solid 1px #ec6e4c;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
  position: relative;
  left: -14px;
}

.search-button:hover {
  background-color: #ec6e4c;
  color: white;
}

.current-location-button {
  position: relative;
  left: 8px;
  background-color: #ec6e4c;
  color: white;
  line-height: 24px;
  font-size: 14px;
  width: 160px;
  transition: all 150ms ease-in-out;
}

.current-location-button:hover {
  background: #ffe7e0;
  border-color: #ec6e4c;
  color: #606060;
}

.city-result {
  margin-top: 50px;
}

.WeatherInfo h2 {
  margin-bottom: 10px;
}

.WeatherIcon canvas {
  position: relative;
  top: 9px;
  left: 25px;
}

.temp-wind {
  position: relative;
  right: 10px;
  margin-bottom: 20px;
}

.temp {
  font-size: 36px;
  position: relative;
  left: -2px;
  line-height: 44px;
}

.current-temperature {
  position: relative;
  left: -13px;
}

.active-unit {
  text-decoration: none;
  color: #7c9bc1;
}

.condition-and-wind {
  font-size: 13px;
}

.condition-and-wind strong {
  position: relative;
  left: -12px;
}

.date-time {
  font-size: 12px;
  color: gray;
  text-align: left;
  position: relative;
  top: 0px;
}

.forecast-boxes {
  padding: 4px;
}

.forecast strong {
  color: black;
}

.next-days {
  border: solid 1px #f8ebe6;
  border-radius: 4px;
  padding: 15px 5px;
  margin: 7px 0px;
  text-align: center;
  color: gray;
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
  transition: all 150ms ease-in-out;
}

.next-days:hover {
  background-color: #fcf2ef;
  border-color: #fcf2ef;
  color: #606060;
}

.low-temp {
  font-weight: 200;
}

.code-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: gray;
}

.code-link-github {
  color: #ec6e4c;
}
